#image-disp
{
    margin:auto;
    width: 90%;
    height: 90%;
    background-color:white;
    border-radius: 1rem;
}
#results-view
{
    margin-top: 16px;
}
#content-container
{
    margin-top: 50px;
}
#res-view
{
    margin: auto;
    width: 30%;
}
.pic-card
{
    display: flex;
    justify-content: center;
    margin:auto;
    background-color:rgb(255, 255, 255);  
    width: 200px;
    height: 200px;
    border-radius: 1rem;
}
.baseplate, body, html, #root
{
    background-color:aliceblue;
    height: 105%;
    min-height: 100%;
    margin:auto;
    margin-bottom: 20px;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    margin: auto;
    height: 200px;
    width: 600px;
}
.dropzone-dragging
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #f7f5f5;
    border-style: dashed;
    background-color: #deebf8;
    color: #fbfbfb;
    outline: none;
    transition: border .24s ease-in-out;
    margin: auto;
    height: 200px;
    width: 600px;
    cursor: pointer;
}
.dropzone-dragging:hover
{
  
    background-color: #deebf8;
    border-color: #f7f5f5;
    color: #fbfbfb;
}
#try-again
{
    margin-top: 20px;
}
.dropzone:hover
{
    cursor: pointer;
    background-color: #deebf8;
    border-color: #f7f5f5;
    color: #fbfbfb;
}